body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.img-responsive {
    width: 150px;
    margin: auto;
}

.tile {
    border: gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    margin-top: 10%;
    transition: all .2s ease-in-out;
}
.tile:hover {
        transform: scale(1.1);
    
}
.tile > a:hover,a:visited,a:active,a:link {
        text-decoration: none;
}
.tile > a {
    color: white;
}

.green-tile {
    background: #82d64f
}
.green-tile:hover {
    border: #74c145

}
.blue-tile {
    background: #02a1f3
}
.blue-tile:hover {
        border: #0090db
    }
.orange-tile {
    background: #f49f38
}
    .orange-tile:hover {
        border: #cc842c
}

#header > img {
    width: 100px;
}
#header > h1 {
    font-weight: 600;
}


