

<div class="row">
    <div class="col-md-3 col-md-offset-1 tile">
        <a asp-area="Admin" asp-controller="Home" asp-action="Users">
            <img src="/images/userIcon.png" alt="Users" class="img-responsive" />
            <h2 class="text-center">Users</h2>
        </a>
    </div>
    <div class="col-md-3 col-md-offset-1 tile">
        <a  asp-area="Admin" asp-controller="Home" asp-action="Movies">
            <img src="/images/movieIcon.png" alt="Movies" class="img-responsive" />
            <h2 class="text-center">Movies</h2>
        </a>
    </div>
    <div class="col-md-3 col-md-offset-1 tile">
        <a asp-area="Admin" asp-controller="Home" asp-action="Actors">
            <img src="/images/actorIcon.png" alt="Actors" class="img-responsive" />
            <h2 class="text-center">Actors</h2>
        </a>
    </div>
</div>